/* The owner of the land paved the land into black*/
*{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/* Organise the land where to put each house in a block and setting land sizing*/

.container {  
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "UpperBox1 . . . UpperBox3 . . . UpperBox5"
      "UpperBox1 . . . UpperBox3 . . . UpperBox5"
      "UpperBox1 . UpperBox2 . UpperBox3 . UpperBox4 . UpperBox5"
      "UpperBox1 . UpperBox2 . UpperBox3 . UpperBox4 . UpperBox5"
      ". . UpperBox2 . . . UpperBox4 . ."
      ". . UpperBox2 . . . UpperBox4 . ."
      ". . . . . . . . ."
      "LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox"
      "LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox"
      "LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox"
      "LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox LowerBox"
      ". . . . . . . . .";
  }
  
/* Build house number 1 and decorate architechture */
  .UpperBox1 { 
    grid-area: UpperBox1; 
    background-color: #8E9AAF;
    border: 6px inset goldenrod;
}

/* Build house number 2 and decorate architechture */
  .UpperBox2 { 
    grid-area: UpperBox2;
    background-color: #CBC0D3;
    border: 6px dashed #FEEAFA; 
}
  
/* Build house number 3 and decorate architechture */
  .UpperBox3 { 
    grid-area: UpperBox3; 
    background-color: #EFD3D7;
    border: 2px solid white; 
}

/* Build house number 4 and decorate architechture */
  .UpperBox4 { 
    grid-area: UpperBox4;
    background-color: #FEEAFA;
    border: 6px dashed #CBC0D3; 
 }
 
 /* Build house number 5 and decorate architechture */
  .UpperBox5 { 
    grid-area: UpperBox5;
    background-color: #DEE2FF;
    border: 6px inset goldenrod; 
}

/* This big house I used gradient colours*/
  
  .LowerBox { 
    grid-area: LowerBox;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,0,0,1) 100%);
    border: 10px double white; 
}
  
/*Using percentage rather than px sizing to make the design responsivr to window*/ 
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  

  .container * {
  
    position: relative;
  }
  
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  
  